* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #656864;
  cursor: pointer; 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.memory-game {
  width: 640px;
  height: 430px;
  margin: auto;
 display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  text-align: center;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}
/*
.memory-card.flip {
  transform: rotateY(180deg);
}*/

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 7px;
  position: absolute;
  border-radius: 5px;
  background: #777c7a;
  backface-visibility: hidden;
  font-size: 100px;
}

.front-face {
  transform: rotateY(180deg);
}

#time
{
  color: aliceblue;
}

#para
{
  text-align: center;
}
#my_timer {
  width: 150px;
  height: 100px;
  border: 4px solid blueviolet;
  position: absolute;
  left: 0%;
  margin-top: -105px;
  margin-left: 472px;
  border-radius: 10px;

}

#best_time
{
  width: 150px;
  height: 100px;
  border: 4px solid blueviolet;
  position: absolute;
  left: 0%;
  margin-top: -105px;
  border-radius: 10px;
}
